html, body {
    margin: 0;
    padding: 0;
    background-color: #0c3285;
}

section {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: midnightblue;
    padding: 10px;
    border-radius: 1em;
}

h1, h2{
    text-align: center; 
    font-family: 'Tourney', cursive;
    margin-right: 20px;   
    margin-left: 20px;
    color: deeppink;   
}

h1{
    font-size: 350%;
}

h2{
    font-size: 200%;   
}

.dollar{
    color: gold;
}

.numbers-container, .emoji-wealth{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.number{
    padding: 20px;
    border: 4px solid skyblue;
    min-width: 25px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: deeppink;
}

.emoji-wealth{
    padding: 20px;
    font-size: 350%;
}

button {
    border: 3px solid #fcb603;
    background-color: yellow;
    color: brown;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.2em;
}

.button {
    width: 150px;
    display: grid;
    align-content: center;
    margin: 0 auto;
}

.winner {
    max-height: 200px;
    color: gold;
    margin: 0;
}

#ticket {
    color: white;
    font-size: 20px;
    margin-left: 5px;
}

.ticket-num {
    color: #fcb603;
    font-weight: bold;
    background: darkgreen;
    padding: 0px 10px;
    border: 2.3px solid #fcb603;
}